<?xml version="1.0"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ventasgirl" connectionString="Server=localhost;Database=ventasgirls;Uid=root;Pwd='123*';" providerName="MySql.Data.MySqlClient"/>
    <add name="BDSISAdmin" connectionString="Data Source=VLADIDEVELOPER;Initial Catalog=BDAdministrativo; Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="SISAdministrativoRD.My.MySettings.BDAdministrativoConnectionString" connectionString="Data Source=PC-ANGARITA;Initial Catalog=BDAdministrativo;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>





</configuration>
